header {
  background: linear-gradient(90deg, #fafafa, #fbfbfb, #fafafa);
  display: flex;
  justify-content: center;
  position: relative;
  white-space: nowrap;
  box-shadow: 2px 2px 3px #0061;
}
header item_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
}
header a {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32px;
  padding: 0 8px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 4px;
}
header a.active {
  background: #d9d7ff;
  cursor: default;
}
header a:hover {
  background: #d9d7ff70;
}
header a.active:hover {
  background: #d9d7ff;
}
header items {
  position: absolute;
  top: 100%;
  background: #fff;
  gap: 4px;
  padding: 8px;
  display: grid;
  border-radius: 4px;
  box-shadow: 2px 2px 3px #0061;
}
header item_holder:not(:hover) items { display: block;display: none;}
