@import url(./notosanstc.css);

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 50px 1fr;
  overflow: hidden;
  background: #fafafa;
  font-family: 'Noto Sans TC', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

#root {
  overflow: auto;
}
#main_content {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 32px 16px 64px;
  width: 100%;
  max-width: 900px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 32px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 24px;
  border-bottom: 1px solid #b3bcd1;
  padding-bottom: 8px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 8px;
}

hr {
  all: unset;
  border-bottom: 1px solid #b3bcd1;
  display: block;
  margin: 32px 0;
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  #main_content {
    padding: 16px 8px 64px;
  }
}