@import url(./notosanstc.css);
@import url(./grid.css);

/* ================================ */
/*               基本               */
/* ================================ */
body {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 50px 1fr;
  overflow: hidden;
  background: #fafafa;
  font-family: 'Noto Sans TC', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}
#root {
  overflow: auto;
}
#main_content {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 32px 16px 64px;
  width: 100%;
  max-width: 900px;
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  #main_content {
    padding: 16px 8px 64px;
  }
}

/* ================================ */
/*             彈跳視窗             */
/* ================================ */
.pop_mask {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background: #000a;
}
.pop_mask.hidden {
  display: none;
}

/* ================================ */
/*              各標題              */
/* ================================ */
h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 32px;
}
h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 24px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 8px;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 8px;
}

/* ================================ */
/*              分隔線              */
/* ================================ */
hr {
  all: unset;
  border-bottom: 1px solid #aaa;
  display: block;
  margin: 32px 0;
}

/* ================================ */
/*             文字備註             */
/* ================================ */
note {
  text-decoration: underline;
  padding: 0 1em 0 0;
  position: relative;
}
note[t] { cursor: help; }
note:after {
  content: "註";
  right: 0;
  position: absolute;
  transform: scale(0.7);
  transform-origin: top;
}
note[t]:hover:before {
  content: attr(t);
  position: absolute;
  top: 100%;
  background: #fff;
  border: 1px solid #aac;
  padding: 0 4px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 2px;
  width: 240px;
  max-width: max-content;
  pointer-events: none;
}

/* ================================ */
/*              超連結              */
/* ================================ */
a {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}
a[icon] {
  text-decoration: none;
}
a[icon] span {
  text-decoration: underline;
}
a[icon]:before {
  content: attr(icon);
  margin-right: 4px;
}

/* ================================ */
/*               嵌入               */
/* ================================ */
.fill_iframe {
  all: unset;
  display: block;
  width: 800px;
  margin: 0 auto;
  height: 100%;
}

/* ================================ */
/*             圖片預覽             */
/* ================================ */
img.click_img {
  cursor: zoom-in;
}
#pop_img:not(.hidden) {
  cursor: pointer;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
#pop_img div {
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  cursor: pointer;
}
#pop_img img {
  display: block;
  cursor: zoom-out;
}
#pop_img img:not(.big) {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  justify-self: center;
  cursor: zoom-in;
}
